*:not(.app_links) {
    margin: 0;
}

body {
    /* min-width: 500px; */
    background: linear-gradient(to bottom right, #06021d 18%, #330867 109%);
    background-repeat: repeat-x !important;
    min-height: 700px;
}

.app_left_right {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.app_header>h1 {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #99ff99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.app_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.dropdown {
    box-shadow: 2px 2px 5px #6486f3 !important;
}

.country_name {
    margin-top: 7px;
  }
  
.render {
    color: white !important;
    padding-left: 15px;
    width: 400px !important;
    height: 36px !important;
}

.MuiFormLabel-root {
    color: rgb(255,255,255) !important;
}

.app_left {
    flex: 0.59;
}

.app_stats {
    display: flex;
    justify-content: space-between;
}

.app_right {
    height: 772px;
    flex: 0.39;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px rgb(252, 196, 196) !important;
    background: rgba(255, 255, 255, 0.15) !important;
    text-align: center;
    color: white !important;
    border-radius: 20px !important;
    
}

.app_right .MuiCardContent-root {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app_graph {
    margin-left: 20px;
    margin-right: 10px;
    flex-grow: 1;
    margin-bottom: 10px;
}

.app_graphSettings {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.app_graphTitle {
    margin-top: 2px;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.graph_option {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.inactive {
    text-transform: none !important;
    color: white !important;
    background: rgba(0,0,0,0.1) !important;
}

.active {
    text-transform: none !important;
    color: yellow !important;
}

.table_title {
    font-size: 25px;
    font-family: "Lucida Console", Courier, monospace;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
}

.app_links {
    width: max-content;
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0px;
}

.link_github {
    vertical-align: middle;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.link_mail {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto !important;
    margin-left: 10px;
    margin-right: 10px;
}

.link_api, .link_li {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.sortButton_rotate {
    transform: rotate(180deg) scaleX(-1);
    cursor: pointer;
}

.sortButton {
    cursor: pointer;
}

.app_stats_inside {
    display: flex;
    flex: 1;
}

.app_stats_inside:not(:last-child) {
    margin-right: 15px;
}

@media (max-width: 1295px) {
    .app_left_right {
        flex-direction: column;
    }
    .app_header {
        flex-direction: column;
        align-items: flex-start;
    }
    .dropdown {
        margin-top: 13px;
    }
    .app_right {
        margin-top: 20px !important;
    }
}

@media (max-width: 600px) {
    .app_stats {
        flex-direction: column;
    }
    .app_stats_inside:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
    }
}

@media (max-width: 550px) {
    .table_heading {
        flex-direction: column;
    }
    .table_date {
        margin-left: 20px;
        width: max-content;
    }

    .map {
        height: 400px !important;
    }
}

@media (max-width: 401px) {
    .app_left_right {
        margin-left: 5px;
        margin-right: 5px;
    }
    .app_header {
        margin-left: 15px;
    }
    .app_stats {
        margin-left: 10px;
        margin-right: 8px;
    }
    .app_graphSettings {
        flex-direction: column;
        justify-content: start !important;
    }
    .app_graph {
        margin-right: 0px !important;
    }
    .app_graphTitle {
        width: max-content;
    }
    .duration_toggle {
        width: max-content;
        margin-bottom: 12px;
    }
}

