*:not(.app_links) {
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, #06021d 18%, #330867 109%);
    background-color: #330867;
}

.app_left_right {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.app_header>h1 {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #99ff99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.app_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.dropdown {
    box-shadow: 2px 2px 5px #6486f3 !important;
}

.country_name {
    margin-top: 7px;
  }
  
.render {
    color: white !important;
    padding-left: 15px;
    width: 400px !important;
    height: 36px !important;
    background: linear-gradient(to right, #06021d 18%, #330867 109%) !important;
}

.render:hover {
    background: linear-gradient(to right, #0f0542 18%, #330867 109%) !important;
}

.MuiFormLabel-root {
    color: rgb(255,255,255) !important;
}

.app_left {
    flex: 0.59;
}

.app_stats {
    display: flex;
    justify-content: space-between;
}

.app_right {
    height: 772px;
    flex: 0.39;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px rgb(252, 196, 196) !important;
    background: rgba(255, 255, 255, 0.15) !important;
    text-align: center;
    color: white !important;
    border-radius: 20px !important;
    
}

.app_right .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app_graph {
    flex-grow: 1;
    margin-bottom: 10px;
}

.app_graphSettings {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.app_graphTitle {
    margin-top: 2px;
    margin-bottom: 12px;
}

.inactive {
    text-transform: none !important;
    color: white !important;
}

.active {
    text-transform: none !important;
    color: yellow !important;
}

.table_title {
    font-size: 25px;
    font-family: "Lucida Console", Courier, monospace;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
}

.app_links {
    width: max-content;
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 5px;
}

.link_github {
    vertical-align: middle;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.link_mail {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto !important;
    margin-left: 10px;
    margin-right: 10px;
}

.link_api, .link_li {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.sortButton_rotate {
    transform: rotate(180deg) scaleX(-1);
    cursor: pointer;
}

.sortButton {
    cursor: pointer;
}

@media (max-width: 1295px) {
    .app_left_right {
        flex-direction: column;
    }
    .app_header {
        flex-direction: column;
        align-items: flex-start;
    }
    .dropdown {
        margin-top: 13px;
    }
    .app_right {
        margin-top: 20px !important;
    }
}
