.infoBox {
    flex: 1;
    justify-content: space-between;
    cursor: pointer;
    background: linear-gradient(to top left, #201a41 18%, #330867 109%) !important;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.todays--cases {
    border-top: 5px solid red;
}

.todays--recovered {
    border-top: 5px solid greenyellow;
}

.todays--deaths {
    border-top: 5px solid grey;
}

.todays--active {
    border-top: 5px solid blue;
}

.infoBox_deaths {
    color: grey;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.infoBox_active {
    color: blue;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.infoBox_recovered {
    color: lightgreen;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.infoBox_cases {
    color: red;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.infoBox_total {
    color: white !important;
    font-weight: 750 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.infoBox_title {
    color: #ffffff !important;
}

.infoBox:hover {
    background: linear-gradient(#0a024b, #300247) !important;
    box-shadow: 0 0 4px rgba(255,255,255,0.9) !important;
}
