.table_heading {
    margin-top: 20px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.table_title {
    margin-left: 20px;
}

.table_date {
    margin-top: 7px;
    margin-right: 20px;
}

.card_swipe {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.card_today {
    background: transparent !important;
    box-shadow: 13px 16px 20px -15px black !important;
    /* z-index: -1; */
    width: calc(100%) !important;
}

.swipe_arrow_disable {
    color: transparent !important;
    cursor: default !important;
    height: 50px;
}

.swipe_arrow {
    cursor: pointer !important;
    height: 50px;
}

.table_head {
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.table_body {
    overflow: auto;
    height: 400px;
    color: white;    
}

.table_body_row,
.table_head tr {
    box-shadow: 0 0 1px rgba(252, 196, 196, 0.8) !important;
    display: flex;
    justify-content: space-between;
}

.row_body td {
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table_head td {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.row_odd {
    background-color: rgba(255, 255, 255, 0) !important;
}

.row_even {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.table_index {
    width: 21px;
    width: calc(5.3846%);
    font-size: 12px;
    margin-top: 1px;
}

.table_country {
    width: 119px;
    width: calc(30.51%);
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.table_head .table_country {
    justify-content: center;
}

.table_arrow {
    padding: 1px !important;
}

.table_cases, 
.table_recovered,
.table_deaths {
    width: 90px;
    width: calc(23.077%);
    text-align: left;
    display: flex;
}

.table_deaths {
    width: 71px;
    width: calc(18.05%);
}

.table_body .table_country,
.table_body .table_cases,
.table_body .table_recovered,
.table_body .table_deaths {
    word-break: break-word;
}

.table_body_row td:not(:last-child) {
    border-right: 1px solid rgba(255,255,255,0.2);
}

.table_head td:not(:first-of-type) {
    margin-right: 10px;
}

.card_collapse {
    border-radius: 5px !important;
    background: rgba(255,255,255,0.25) !important;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 2px;
    margin-left: 2px;
}

.card_content {
    color: rgb(14, 14, 14) !important;
    padding: 0px !important;
}

.card_component {
    width: 97px;
}

.card_row1, .card_row2, .card_row3, .card_row4, .card_row5 {
    border-collapse: collapse !important;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 01px solid rgba(255,255,255,0.5);
    display: flex !important;
    justify-content: space-around;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;
}

.card_row1 {
    background-image: linear-gradient(to top, #52cdf3, #2f9fcf) !important;
}

.card_row2 {
    background-image: linear-gradient(to top, #df7aec, #ca3db3) !important;
}

.card_row3 {
    background-image: linear-gradient(to top, #8d7bf0, #733dca) !important;
}

.card_row4 {
    background: linear-gradient(to top, #a9e79a, #6ff175);
}

.card_row5 {
    background: linear-gradient(to top, #eedc79, #e9cd50);
}

.card_row0 {
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    background-image: linear-gradient(to top, #141518, #252525, #141518);
}

.card_updated {
    color: rgb(218, 216, 216);
    width: max-content;
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card_heading {
    font-size: 12px;
}

.card_data {
    font-size: 17px;
}

.updated_icon {
    margin-top: 1px;
    margin-right: 2px;
}

.population_data, .tests_data {
    text-transform: uppercase;
}

.flag_data {
    margin-left: 16px;
    height: 40px;
    width: 60px;
    background-size: cover;
    border-radius: 4px;
}
